<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- FrontGPS Link and Joint -->
    <link name="FrontGPS">
        <inertial>
            <origin xyz="0.027 0.035 0" rpy="1.5708 0 0"/>
            <mass value="0.1"/> <!-- adjust mass as needed -->
            <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/> <!-- adjust inertia as needed -->
        </inertial>
        <visual>
            <origin xyz="0.027 0.035 0" rpy="1.5708 0 0"/> <!-- RPY in radians -->
            <geometry>
            <mesh filename="file://$(find dokalman_library)/meshes/FrontGPS.STL"/>
            </geometry>
            <material
                name="">
                <color
                rgba="0.79216 0.81961 0.93333 1" />
      </material>
        </visual>
        <collision>
            <origin xyz="0.027 0.035 0" rpy="1.5708 0 0"/> <!-- RPY in radians -->
            <geometry>
            <mesh filename="file://$(find dokalman_library)/meshes/FrontGPS.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="FrontGPS_joint" type="fixed">
        <parent link="base_link"/>
        <child link="FrontGPS"/>
        <origin xyz="0 0.35 0.215" rpy="0 0 0"/> <!-- RPY in radians, adjust position and orientation as needed -->
    </joint>

    <!-- BackGPS Link and Joint -->
    <link name="BackGPS">
        <inertial>
            <origin xyz="-0.027 -0.035 0" rpy="1.5708 0 -3.1415"/>
            <mass value="0.1"/> <!-- adjust mass as needed -->
            <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/> <!-- adjust inertia as needed -->
        </inertial>
        <visual>
            <origin xyz="-0.027 -0.035 0" rpy="1.5708 0 -3.1415"/> <!-- RPY in radians -->
            <geometry>
            <mesh filename="file://$(find dokalman_library)/meshes/BackGPS.STL"/>
            </geometry>
            <material
                name="">
                <color
                rgba="0.79216 0.81961 0.93333 1" />
      </material>
        </visual>
        <collision>
            <origin xyz="-0.027 -0.035 0" rpy="1.5708 0 -3.1415"/> <!-- RPY in radians -->
            <geometry>
            <mesh filename="file://$(find dokalman_library)/meshes/BackGPS.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="BackGPS_joint" type="fixed">
        <parent link="base_link"/>
        <child link="BackGPS"/>
        <origin xyz="0 -0.35 0.215" rpy="0 0 0"/> <!-- RPY in radians, adjust position and orientation as needed -->
    </joint>

</robot>