# for anyone new to git, this file tells git what file formats to ignore
# tracking on version control

# * is a wildcard which just means that anything can be represented by it

# these change every time ros2 builds/rebuilds a package
# there would be a lot of clutter if we track these files
*build*
*install*
*log*
*share*
*build*

*.vscode*
catkin_ws/*